[Unit]
Description=Bluemesh
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/bluemesh
ExecStart=/usr/bin/mono node
User=bluemesh
Restart=always
RestartSec=5
CPUQuota=100%
MemoryLimit=2048M
TasksMax=100

[Install]
WantedBy=multi-user.target
