<div style="display: flex;flex-direction: row;justify-content:center;align-items:center;">
  <a href="/strongbox?type=public" class="btn btn-large btn-primary">Checkroom</a>
</div>
<div style="display: flex;flex-direction: row;justify-content:center;align-items:center;">
  <a href="/strongbox?type=private" class="btn btn-large btn-primary">My strongbox</a>
</div>

