<div class="row">
  <div class="col-md-6" style="text-align: center">
    <a href="/strongbox?type=public" class="btn btn-large btn-primary">Checkroom</a>
  </div>
  <div class="col-md-6" style="text-align: center">
    <a href="/strongbox?type=private" class="btn btn-large btn-primary">My strongbox</a>
  </div>
</div>
