<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<header>
    <h1>Environ</h1>
    {% if session and session.username %}
        <h2>{{ session.username }} / Since: {{ session.logged_in }}</h2>
        <a href="/logout">Logout</a>
    {% else %}
        <a href="/register">Register</a>
        <a href="/login">Login</a>
    {% endif %}
</header>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
{% block content %} {% endblock %}
</body>
</html>