{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-4 col-xs-6 text-xs-center">
        <h5>Temperature</h5>
        <div class="center-block c100 p{{ (sensors.temperature / 40 * 100) | int }} green">
            <a {% if session.username %}href="/log/temperature"{% endif %}>{{ sensors.temperature }}℃</a>
            <div class="slice">
                <div class="bar"></div>
                <div class="fill"></div>
            </div>
        </div>
    </div>
    <div class="col-sm-4 col-xs-6 text-xs-center">
        <h5>Pressure</h5>
        <div class="center-block c100 p{{ sensors.pressure | int(50) - 50 }} orange">
            <a {% if session.username %}href="/log/pressure"{% endif %}>{{ sensors.pressure | int }}kPa</a>
            <div class="slice">
                <div class="bar"></div>
                <div class="fill"></div>
            </div>
        </div>
    </div>
    <div class="col-sm-4 col-xs-6 text-xs-center">
        <h5>Humidity</h5>
        <div class="center-block c100 p{{ sensors.humidity | int }} blue">
            <a class="circle" {% if session.username %}href="/log/humidity"{% endif %} data-hover="{{ sensors.humidity | float }}%">
                <span><i class="mdi mdi-water"></i></span>
            </a>
            <div class="slice">
                <div class="bar"></div>
                <div class="fill"></div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-offset-2  col-sm-4 col-xs-6 text-xs-center">
        <h5>CPU</h5>
        <div class="center-block c100 p{{ sensors.system_cpu  | int }} violet">
            <a {% if session.username %}href="/log/system_cpu"{% endif %}>{{ sensors.system_cpu | int }}%</a>
            <div class="slice">
                <div class="bar"></div>
                <div class="fill"></div>
            </div>
        </div>
    </div>
    <div class="col-sm-4 col-xs-6 text-xs-center">
        <h5>Memory</h5>
        <div class="center-block c100 p{{ sensors.system_mem | int // 10 }}">
            <a {% if session.username %}href="/log/system_mem"{% endif %}>{{ sensors.system_mem | int }}MB</a>
            <div class="slice">
                <div class="bar"></div>
                <div class="fill"></div>
            </div>
        </div>
    </div>
</div>

{% if session.username %}
<div class="row panel">
    <h5>Lights</h5>
    {% for sensor, data in sensors | dictsort if "light" in sensor %}
    <div class="col-xs-4 col-sm-3 col-lg-2">
        <div class="text-xs-center">
            <a href="/log/{{sensor}}">
                <span class="display-5 {% if data != None %}{% if data %}text-warning{% endif %}{% endif %}">
                    <i class="mdi {% if data %}mdi-white-balance-incandescent{% else %} mdi-lightbulb-outline mdi-flip{% endif %}"></i>
                </span>
                <h6>{{ sensor | replace("light_", "") | capitalize }}</h6>
            </a>
        </div>
    </div>
    {% endfor %}
</div>

<div class="row panel">
    <h5>Doors</h5>
    {% for sensor, data in sensors | dictsort if "door" in sensor %}
        <div class="col-xs-6 col-sm-4 col-lg-3">
            <div class="card card-inverse {% if data != None %}text-white {% if data %}card-danger{% else %}card-success{% endif %}{% endif %}">
                <a href="/log/{{sensor}}">
                    <div class="card-block">
                        <div class="media">
                            <span class="media-left">
                                {% if "main" in sensor %}
                                <span class="media-object display-5">
                                    <i class="mdi mdi-home"></i>
                                </span>
                                {% else %}{% if "gate" in sensor %}
                                <span class="media-object display-5">
                                    <i class="mdi mdi-gate"></i>
                                </span>
                                {% else %}{% if "garage" in sensor %}
                                <span class="media-object display-5">
                                    <i class="mdi mdi-car"></i>
                                </span>
                                {% else %}{% if "garden" in sensor %}
                                <span class="media-object display-5">
                                    <i class="mdi mdi-flower"></i>
                                </span>
                                {% endif %}{% endif %}{% endif %}{% endif %}
                            </span>
                            <div class="media-body">
                                <h5>{% if data != None %}{% if data %}Open{% else %}Closed{% endif %}{% endif %}</h5>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    {% endfor %}
</div>

<div class="row panel">
    <h5>Windows</h5>
    {% for sensor, data in sensors | dictsort if "window" in sensor %}
        <div class="col-xs-4 col-sm-3 col-lg-2">
            <div class="text-xs-center card card-inverse {% if data != None %}text-white {% if data %}card-info{% else %}card-success{% endif %}{% endif %}">
                <a href="/log/{{sensor}}">
                    <div class="card-block">
                        {% if "kitchen" in sensor %}
                        <span class="media-object display-5">
                            <i class="mdi mdi-silverware"></i>
                        </span>
                        {% else %}{% if "livingroom" in sensor %}
                        <span class="media-object display-5">
                            <svg style="width:48px;height:48px" viewBox="0 0 48 48">
                                <path transform="scale(2, 2)" fill="#ffffff" d="M7,6H9A2,2 0 0,1 11,8V12H5V8A2,2 0 0,1 7,6M15,6H17A2,2 0 0,1 19,8V12H13V8A2,2 0 0,1 15,6M1,9H2A1,1 0 0,1 3,10V12A2,2 0 0,0 5,14H19A2,2 0 0,0 21,12V11L21,10A1,1 0 0,1 22,9H23A1,1 0 0,1 24,10V19H21V17H3V19H0V10A1,1 0 0,1 1,9Z" />
                            </svg>
                        </span>
                        {% else %}{% if "bedroom" in sensor %}
                        <span class="media-object display-5">
                            <i class="mdi mdi-hotel"></i>
                        </span>
                        {% else %}{% if "playroom" in sensor %}
                        <span class="media-object display-5">
                            <i class="mdi mdi-puzzle"></i>
                        </span>
                        {% endif %}{% endif %}{% endif %}{% endif %}
                    </div>
                </a>
            </div>
        </div>
    {% endfor %}
</div>

<div class="row panel">
    <h5>Radiators</h5>
    {% for sensor, data in sensors | dictsort if "radiator" in sensor %}
    <div class="col-sm-3 col-xs-6 text-xs-center">
        <div class="center-block c100 p{{ data | int }} {% if data | int > 10 %}{% if data | int < 20 %}blue{% else %}{% if data | int < 30 %}green{% else %}{% if data | int < 70 %}orange{% else %}red{% endif %}{% endif %}{% endif %}{% endif %}">
            <a class="circle" href="/log/{{sensor}}" data-hover="{{ data }}℃">
                <span>
                {% if "kitchen" in sensor %}
                    <i class="mdi mdi-coffee"></i>
                {% else %}{% if "livingroom" in sensor %}
                    <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                        <path fill="#cccccc" d="M7,6H9A2,2 0 0,1 11,8V12H5V8A2,2 0 0,1 7,6M15,6H17A2,2 0 0,1 19,8V12H13V8A2,2 0 0,1 15,6M1,9H2A1,1 0 0,1 3,10V12A2,2 0 0,0 5,14H19A2,2 0 0,0 21,12V11L21,10A1,1 0 0,1 22,9H23A1,1 0 0,1 24,10V19H21V17H3V19H0V10A1,1 0 0,1 1,9Z" />
                    </svg>
                {% else %}{% if "bedroom" in sensor %}
                    <i class="mdi mdi-hotel"></i>
                {% else %}{% if "garage" in sensor %}
                    <i class="mdi mdi-car"></i>
                {% endif %}{% endif %}{% endif %}{% endif %}
                </span>
            </a>
            <div class="slice">
                <div class="bar"></div>
                <div class="fill"></div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endif %}
{% endblock %}
