{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}

<h2>Login form</h2>
<form method="POST">
    <div class="form-group row {% if error_username %}has-danger{% endif%}">
        <label for="username" class="col-sm-2 form-control-label">Username</label>
        <div class="col-sm-5">
            <input type="text" class="form-control {% if error_username %}form-control-danger{% endif%}" name="username" id="username" placeholder="username">
        </div>
    </div>
    <div class="form-group row {% if error_password %}has-danger{% endif%}">
        <label for="password" class="col-sm-2 form-control-label">Password</label>
        <div class="col-sm-5">
          <input type="password" class="form-control {% if error_password %}form-control-danger{% endif%}" name="password" id="password" placeholder="********">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-offset-2 col-sm-5">
            <button type="submit" class="btn btn-secondary">Sign in</button>
        </div>
  </div>
</form>
{% endblock %}

{% block script %}
    $('input').focus(function() {
        $(this).removeClass("form-control-danger");
        $(this).parent().parent().removeClass("has-danger");
    });
    $('#username').change(function() {
        if ($(this).val().indexOf(':') > -1) {
            $(this).addClass('form-control-warning');
            $(this).parent().parent().addClass('has-warning');
            if (document.getElementById('colon-warn')) {}
            else {
                $(this).parent().parent().append('<div class="col-sm-offset-2 col-sm-6 text-warning" id="colon-warn">Colon symbol is not allowed here</div>');
            };
        } else {
            $('#colon-warn').remove();
            $(this).removeClass('form-control-warning');
            $(this).parent().parent().removeClass('has-warning');
        }
    });
{% endblock %}