<div class="row">
  <div class="col-md-12">
    <% unless @things.nil? %>
        <h1>List your items:</h1>
        <ul>
          <% @things.each do |thing| %>
              <li> <%= link_to thing.title, thing_path(thing) %><br/></li>
          <% end %>
        </ul>
    <% end %>
    <h2>Add thing</h2>
    <%= render 'shared/thing_form' %>
  </div>
</div>
