@font-face {
  font-family: 'max';
  src: url('./font/max.eot?40842129');
  src: url('./font/max.eot?40842129#iefix') format('embedded-opentype'),
       url('./font/max.woff2?40842129') format('woff2'),
       url('./font/max.woff?40842129') format('woff'),
       url('./font/max.ttf?40842129') format('truetype'),
       url('./font/max.svg?40842129#max') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'max';
    src: url('../font/max.svg?40842129#max') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "max";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  /*width: 1em;*/
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-garage:before { content: '\e800'; }
.icon-main:before { content: '\e801'; }
.icon-диван:before { content: '\e802'; }
.icon-portable:before { content: '\e803'; }
.icon-climate:before { content: '\e804'; }
.icon-block:before { content: '\e805'; }
.icon-kitchen:before { content: '\e806'; }
.icon-table:before { content: '\e807'; }
.icon-floor-lamp:before { content: '\e808'; }
.icon-лампочка:before { content: '\e809'; }
.icon-chandelier:before { content: '\e80a'; }
.icon-window_kitchen:before { content: '\e80b'; }
.icon-bedroom:before { content: '\e80c'; }
.icon-livingroom:before { content: '\e80d'; }
.icon-playroom:before { content: '\e80e'; }
.icon-bed:before { content: '\e80f'; }
.icon-temperature:before { content: '\e810'; }
.icon-bathroom:before { content: '\e811'; }