.text-white {color: #fff}
.card-status {padding-top:0.4rem;}
.card-status-stack {padding-top:1.4rem;}
.text-white>.my-card {color: #fff}

.my-card {color: #777}
.my-card, .my-card .text-warning {-webkit-transition-property:all;-moz-transition-property:all;-o-transition-property:all;transition-property:all;-webkit-transition-duration:.5s;-moz-transition-duration:.5s;-o-transition-duration:.5s;transition-duration:.5s;-webkit-transition-timing-function:ease-out;-moz-transition-timing-function:ease-out;-o-transition-timing-function:ease-out;transition-timing-function:ease-out}
.my-card:hover {color: #000; text-decoration: none;}
.my-card:hover path {fill: #000;}
.my-card:hover .text-warning {color: #d9534f!important;}


.text-gray{color: #ccc;}
.panel {margin-top: 1.5rem;}
.media-body h5 {padding-top: 20%;}
h3 {margin-bottom: 2rem;}
div.img-circle{padding: 2.5rem;}
.display-5 {font-size: 3rem;}
.circle:before{content: attr(data-hover); display: none}
.circle:hover span {display: none}
.circle:hover:before {display: block;}
.c100{margin-bottom: 2rem; margin-top: 1rem;}
.progresslabel {position: relative; margin-left: 45%; font-size: small;}
