<% provide(:title, @thing.title) %>
<div class="row">
  <div class="col-md-12">
    <section class="thing">
      <h1 class="thing__title">
        <%= @thing.title %>
      </h1>
      <p class="thing__contetn">
        <%= @thing.content %>
      </p>
      <%= link_to "Edit", edit_thing_path(@thing) %>
    </section>
  </div>
</div>