.text-white {color: #fff}
.card-status {padding-top:0.4rem;}
.card-status-stack {padding-top:1.4rem;}
.text-white>a {color: #fff}
a {color: #777}
a:hover{color: #000; text-decoration: none}
.card-yellow{background-color: #faff8c; border-color: #faff8c;}
.card-gray{background-color: #ccc; border-color: #ccc; color: #fff;}
.panel {margin-top: 1.5rem;}
.media-body h5 {padding-top: 20%;}
h3 {margin-bottom: 2rem;}
