<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>🏡 Environ</title>
        <link rel="stylesheet" href="/static/bootstrap.min.css">
        <link rel="stylesheet" href="/static/circle.min.css">
        <link rel="stylesheet" href="/static/max.css">
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <nav class="navbar navbar-light ">
            <a class="navbar-brand" href="/">🏡 Environ</a>
            <div class="form-inline pull-xs-right">
                <div class="input-group">
                    <input class="form-control" type="text" id="sensorID" placeholder="sensor ID">
                    <span class="input-group-btn">
                        <button id="rawSensor" class="btn btn-info-outline" type="submit">Raw</button>
                    </span>
                </div>
            </div>
        </nav>
        <div class="container" id="alerts"></div>
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-xs-6 text-xs-center">
                    <h5>Temperature</h5>
                    <div class="center-block c100 p{{ (sensors.temperature| int / 40 * 100) | int }} green">
                        <a class="circle" data-hover="{{ sensors.temperature | float | round(1) }}℃">
                            <span><i class="icon-temperature"></i></span>
                        </a>
                        <div class="slice">
                            <div class="bar"></div>
                            <div class="fill"></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-xs-6 text-xs-center">
                    <h5>Pressure</h5>
                    <div class="center-block c100 p{{ sensors.pressure | int(50) - 50 }} orange">
                        <a class="circle" data-hover="{{ sensors.pressure | int }}kPa">
                            <span><i class="icon-pressure"></i>press</span>
                        </a>
                        <div class="slice">
                            <div class="bar"></div>
                            <div class="fill"></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-xs-6 text-xs-center">
                    <h5>Humidity</h5>
                    <div class="center-block c100 p{{ sensors.humidity | int }} blue">
                        <a class="circle" data-hover="{{ sensors.humidity | float | round(1) }}%">
                            <span><i class="icon-humidity"></i>Hum</span>
                        </a>
                        <div class="slice">
                            <div class="bar"></div>
                            <div class="fill"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-offset-2  col-sm-4 col-xs-6 text-xs-center">
                    <h5>CPU</h5>
                    <div class="center-block c100 p{{ sensors.system_cpu  | int }} violet">
                        <a class="circle" data-hover="{{ sensors.system_cpu | float | round(1) }}%">
                            <span><i class="icon-cpu"></i>CPU</span>
                        </a>
                        <div class="slice">
                            <div class="bar"></div>
                            <div class="fill"></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-xs-6 text-xs-center">
                    <h5>Memory</h5>
                    <div class="center-block c100 p{{ sensors.system_mem | int }}">
                        <a class="circle" data-hover="{{ sensors.system_mem | float | round(1) }}%">
                            <span><i class="icon-memory"></i>MEM</span>
                        </a>
                        <div class="slice">
                            <div class="bar"></div>
                            <div class="fill"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row panel">
                <h5>Lights</h5>
                {% for sensor, data in sensors | dictsort if "light" in sensor %}
                <div class="col-xs-4 col-sm-3 col-lg-2">
                    <div class="my-card text-xs-center">
                        <span class="display-5 {% if data != None %}{% if data %}text-warning{% endif %}{% endif %}">
                            <i class="{% if data %}{% else %}{% endif %} icon-{{ sensor }}"></i>
                        </span>
                        <h6>{{ sensor | replace("light_", "") | capitalize }}</h6>
                    </div>
                </div>
                {% else %}
                <div class="alert alert-warning" role="alert">
                    No data
                </div>
                {% endfor %}
            </div>

            <div class="row panel">
                <h5>Perimeter</h5>
                {% for sensor, data in sensors | dictsort if "window" in sensor or "door" in sensor %}
                    <div class="col-xs-4 col-sm-3 col-lg-2">
                        <div class="text-xs-center card card-inverse {% if data != None %}text-white {% if data %}card-warning{% else %}card-success{% endif %}{% endif %}">
                            <div class="card-block my-card ">
                                <span class="media-object display-5">
                                    <i class="icon-{{ sensor }}"></i>
                                </span>
                                <h5>{% if data != None %}{% if data %}Open{% else %}Closed{% endif %}{% endif %}</h5>
                            </div>
                        </div>
                    </div>
                {% else %}
                <div class="alert alert-warning" role="alert">
                    No data
                </div>
                {% endfor %}
            </div>

            <div class="row panel">
                <h5>Radiators</h5>
                {% for sensor, data in sensors | dictsort if "radiator" in sensor %}
                <div class="col-sm-4 col-xs-6 text-xs-center">
                    <div class="center-block c100 p{{ ((data | float - 13) / 17 * 100) | int }} {% if data | int > 10 %}{% if data | int < 18 %}blue{% else %}{% if data | int < 24 %}green{% else %}{% if data | int < 27 %}orange{% else %}red{% endif %}{% endif %}{% endif %}{% endif %}">
                        <a class="circle" data-hover="{{ data | float | round(1) }}℃">
                            <span><i class="icon-{{ sensor }}"></i></span>
                        </a>
                        <div class="slice">
                            <div class="bar"></div>
                            <div class="fill"></div>
                        </div>
                    </div>
                </div>
                {% else %}
                <div class="alert alert-warning" role="alert">
                    No data
                </div>
                {% endfor %}
            </div>

        </div>
        <script src="/static/jquery.min.js"></script>
        <script src="/static/tether.min.js"></script>
        <script src="/static/bootstrap.min.js"></script>
        <script>
            $( document ).ready(function() {
                $('#rawSensor').on('click', function(event) {
                  event.preventDefault();
                  var sensorID = $('#sensorID').val();
                  $.ajax({
                  url: "/" + sensorID,
                  success: function(data) {
                        $('#sensorID').removeClass('form-control-warning').parent().removeClass('has-warning');
                        $('#rawSensor').removeClass('btn-warning-outline').addClass('btn-info-outline');
                        $('#alerts').append('<div class="alert alert-info alert-dismissible fade" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><strong>Raw ' + sensorID + ':</strong> ' + data + '</div>');
                        setTimeout(function() {$('#alerts .alert:last').addClass('in');}, 150);
                      },
                  error: function(){
                        $('#sensorID').addClass('form-control-warning').parent().addClass('has-warning');
                        $('#rawSensor').removeClass('btn-info-outline').addClass('btn-warning-outline');
                        $('#alerts').append('<div class="alert alert-warning alert-dismissible fade" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><strong>Raw ' + sensorID + ':</strong> not found</div>');
                        setTimeout(function() {$('#alerts .alert:last').addClass('in');}, 150);
                    },
                  });
                });
            });
        </script>
    </body>
</html>
