<div class="row">
  <div class="col-md-6 checkroom">
    <h2 class="checkroom__name"><%= @checkroom.name %></h2>
    <h3 class="checkroom__title"><%= @checkroom.title %></h3>
    <p class="checkroom__content"><%= @checkroom.content %></p>
  </div>
</div>